<div class="wrapper">

    <main>
        <div class="content_wrapper">
            <div class="infobox" onclick="hide()">
                <img id="info_img" src="img/1.jpg">
                <p id="info_text">Ett hjul är en cirkel-, torus- eller cylinderformad konstruktion för att underlätta en linjär rörelse, eller omvandla en linjär rörelse till rotationsrörelse.
                </p>
            </div>
            
            <%
            i = 1
            while i < 25
            %>

                <div class="box" id="box_<%=i%>">
                    <%=i%>
                </div>

            <%
            i += 1
                end
            %>

        </div>


    </main>


</div>