<div class="wrapper">

    <main>
        <div class="content_wrapper">
            <div class="infobox">This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test </div>
            
            <%
            i = 1
            while i < 25


            %>

            <div class="box" onclick="popUp()">
                <%=i%>
            </div>

            <%
            i += 1
                end
            %>

        </div>


    </main>


</div>